@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;400;700&display=swap');

/* Variables CSS */
:root {
    /* 검은색 */
    --first-color: #000000;
    /* 버튼 마우스 오버 색상 */
    --second-color: #BDBDBD;
    /* 버튼 색상 */
    --third-color: #EBEBEB;
    /* 흰색 */
    --body-color: #fff;

    /* font */
    --body-font: 'Hahmlet', serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-thin: 200;
    --font-regular: 400;
    --font-bold: 700;
}

body {
    font-family: var(--body-font);
    /* Hamhlet 체 적용 */
    font-size: var(--normal-font-size);
    color: #000;
}

header {
    background-color: var(--first-color);
    position: fixed;
    /* 스크롤 해도 항상 위치 고정 */
    top: 0;
    right: 0;
    /* 오른쪽 끝까지*/
    left: 0;
    /* 왼쪽 끝까지 늘리기*/
    z-index: 100;
    /* 아이템에 마우스 올렸을 때 가려지는 문제 해결 */
}

nav {
    height: 44px;
}

.nav.container {
    display: flex;
    /* 기본값: 수평정렬 */
    justify-content: space-between;
    align-items: center;
    /* 교차축 가운데 및 정렬 */
    padding: 0 16px;
    /* 위아래:0, 왼오른: 16px */
    color: #fff;
}

.nav.container a {
    color: #fff;
}

.nav-logo {
    font-size: var(--h2-font-size);
    width: 120px;
    padding-top: 5px;
    /*로고 중앙 배치를 위해서*/
}

/* menu 전체 부분 */
#menu,
.menu {
    display: flex;
    align-items: center;
    margin-top: 44px;
    height: 100px;
}

/* menu 버튼들을 감싸는 부분 */
.menu-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    width: calc(100% - 100px * 2);
    max-width: 700px;
    justify-content: space-between;
}

/* menu 버튼들 */
.menu-item {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    border-radius: 5px;
}

/* menu 버튼들 마우스 오버 효과 */
.menu-item:hover {
    cursor: pointer;
    background-color: var(--second-color);
}

/* menu 오른쪽 아이콘 안보이게 */
.nav .nav_toggle {
    display: block;
}

/* 540일 때 나오는 메뉴 화면 */
.side {
    display: none;
    position: fixed;
    right: 0px;
    top: 44px;
    background-color: var(--body-color);
    z-index: 4;
    padding: 10px;
}

/* 540일 때 나오는 메뉴 화면 마우스 오버 효과 */
.side ul li:hover {
    background-color: var(--third-color);
}


.ge {
    font-size: 25px;
}

.side {
    padding: 20px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 720px) {
    .ge {
        font-size: 18px;
    }

    .side {
        padding: 10px;
        width: auto;
        height: auto;
    }
}

/* mobile */
@media screen and (max-width: 540px) {
    .nav {
        border-bottom: 1px solid var(--body-color);
    }

    /* menu 부분(x, y, z... 가로) 사라짐  */
    #menu {
        display: none !important;
    }

    /* menu 부분(x, y, z... 세로) 생김  */
    .side {
        display: none;
        /* .menu를 숨기고 .side를 보여주도록 설정 */
    }

    /* menu 오른쪽 아이콘 보이게 */
    .nav #nav_toggle {
        display: block;
    }

    .ge {
        font-size: 10px;
    }

    .side {
        padding: 8px;
        width: auto;
        height: auto;
    }
}
.me-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.me-item>a{
    width: 100%;
    height: 100%;
    text-align: center;
}